<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="style.css">
    <style>
        /* CSS for the typing animation */
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        .header h1 {
            overflow: hidden; 
            white-space: nowrap; 
            animation: typing 3s steps(30, end) forwards; 
            border-right: .15em solid rgb(24, 197, 206); 
            margin: 0 auto; 
            font-size: 2.0em; 
        }
        body {
      background-image: url('../public/maxx-Dj4E8IIo8y4-unsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: center; 
    }
    </style>
</head>
<body>
    <div class="header">
        <div class="inner-header flex">
            <!-- Added animation to the heading -->
            <h1>Welcome To the global crime fighting network</h1>
        </div>
        <div class="text-center"> <!-- Added class "text-center" to center-align the buttons horizontally -->
            <button type="button" class="btn btn-info rounded-pill px-3"><a href="/log" class="nav-link px-2 text-white" style="color: white; text-decoration: none;">Old Bounty Hunter</a></button>
            <button type="button" class="btn btn-info rounded-pill px-3"><a href="/signup" class="nav-link px-2 text-white" style="color: white; text-decoration: none;">New Bounty Hunter</a></button>
        </div>
        <div class="mt-3"> <!-- Added margin top class "mt-3" for space -->
            <button class="btn btn-info rounded-pill px-3" type="button"><a href="/cblog" class="nav-link px-2 text-white">Name of the Criminal You've arrested</a></button>
        </div>
       
       
    <!-- Header ends -->
    
    <%- include("partials/footer.ejs") %>
</body>
</html>
